html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main.flex-fill {
    flex: 1;
    padding: 20px;
}

.degradado {
    margin: 0;
    background: linear-gradient(to right,
            #D2D4E5 43%,
            #B0B3D3 81%);
}

.search {
    font-size: 0.8 rem;
    color: #adb5bd;
}

.boton {
    color: #FAFAFA;
    background-color: #1E3A8A;
}

.boton:hover {
    background-color: #1E3A8A;
    color: #FAFAFA;
}

.dropdown-menu {
        margin-top: 15px !important;
        border: none !important;
    }
    .dropdown-item:active {
        background-color: #2b448c;
    }
    .form-check-input:checked {
        background-color: #2b448c;
        border-color: #2b448c;
    }
    input[type=number]::-webkit-inner-spin-button {
        display: none;
    }


.carrusel-horizontal {
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        gap: 20px;
        scrollbar-width: none; /* Firefox */
    }

    .carrusel-horizontal::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Edge */
    }
.card-propiedad {
        flex: 0 0 280px; /* IMPORTANTE: No crece, no se encoge, base de 280px */
        background: white;
        border-radius: 25px;
        border: none;
        overflow: hidden;
    }



    footer {
        background-color: #191531;
        color: #ccc;
        padding: 20px 0;
    }

    footer a {
        color: #ccc;
        text-decoration: none;
    }

    footer a:hover {
        color: white;
    }
